ul.a {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      border: 1px solid #e7e7e7;
      background-color: #f3f3f3;
    }

li.b {
        float: left;
    }

li a.nonact {
        display: block;
        color: #666;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

li a.nonact:hover {
        background-color: #ddd;
    }

li a.act {
        display: block;
        text-align: center;
        padding: 14px 16px;
        
        color: white;
        background-color: #4CAF50;
    }


ul.side {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      width: 300px;
      border: 1px solid #e7e7e7;
      background-color: #f3f3f3;
    }

li a.nonactside{
        display: block;
        color: #666;
        text-align: center;
        padding: 14px 100px;
        text-decoration: none;
}

li a.nonactside:hover{
  background-color: #ddd;
}


li a.actside {
        display: block;
        text-align: center;
        padding: 14px 100px;
        
        color: white;
        background-color: #4CAF50;
    }


/*COLORS FOR NIGHTMODE*/
ul.new{
  border: 1px solid #092134 !important;
  background-color: #092134 !important;
}

li a.newnonact {
        display: block;
        color: #666;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        color: #666 !important;
    }

li a.newnonact:hover {
        background-color: #F35D00 !important;
    }


li a.newact { 
        color: white !important;
        background-color: #F35D00 !important;
    }